/*
  ========================================
  Main
  ========================================
*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;

	padding: 0;
	margin: 0;
}
.container{
	width: 80%;
	margin: auto;
}
.logo img{
  max-width: 320px;
  max-height: 165px;
}
/*
  ========================================
  Nav
  ========================================
*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}
.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  border-bottom: 3px white solid;
  color: #0088a9;
}

.current{
  border-bottom: 3px white solid;
}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}


/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
/*
  ========================================
  Main Content
  ========================================c
*/
#showcase{
  max-height: 400px;
  min-height: 400px;
  max-width: 100%;
  height: auto;
	background:url('../images/hero.jpg') no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
}
#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
  background-color: black;
}
#showcase p{
	font-size: 20px;
  background-color: black;
}
#homecontainer {
	padding-top: 40px;
	text-align: center;
}
#homecontainer1 {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  border: 0 50 0 50;
}
#homecontainer1 > .container > .row > h3{
  padding-bottom: 20px;
}
.homeimg{
  height: 50%;
  width: 50%;
}
iframe{
  min-height:300px;
}
#MiddleContent{
  align-content: center;
}
.button {
  background-color: #24252a;
  border: 1px solid #24252a;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
}
.btn-group .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
.btn-group .button:hover {
  background-color: #3e8e41;
}
#homecontainer2 {
	padding-top: 40px;
	text-align: center;
	font-size: 15px
}
/*
  ========================================
  Footer
  ========================================
*/
footer {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 12px;
  background-color: #24252a;
  color: #ccc;
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}
